In [287]:
# Set dependencies
import pandas as pd
from pandas import *
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import calendar
from datetime import datetime
from datetime import timedelta
import glob
import os
import dask.dataframe as dd

In [288]:
# define path and combine calibration files
path = r'/Users/madeleinemerken/Downloads/MCV test data/Calibration'                     
all_files = glob.glob(os.path.join(path, "*.csv"))     

df_from_each_file = (pd.read_csv(f) for f in all_files)
calibration_df = pd.concat(df_from_each_file, ignore_index=True)

In [289]:
# define path and combine dilution files
path = r'/Users/madeleinemerken/Downloads/MCV test data/Dilution' 
all_files = glob.glob(os.path.join(path, "*.csv"))  

df_from_each_file = (pd.read_csv(f) for f in all_files)
dilution_df = pd.concat(df_from_each_file, ignore_index=True)

In [290]:
# Display calibrtation data
calibration_df

,MODULE,L/R BLOCK,DATE/TIME,WBC,RBC,HGB,MCV,PLT,MPV,OPERATOR ID,METHOD
0,Hq00103 (Louie),Left,10.02.2019 15:02:09,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
1,Hq00103 (Louie),Right,10.02.2019 15:02:10,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
2,Hq00103 (Louie),Left,10.02.2019 15:02:11,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
3,Hq00103 (Louie),Left,10.02.2019 15:02:12,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
4,Hq00103 (Louie),Right,10.02.2019 15:02:13,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
5,Hq00103 (Louie),Right,10.02.2019 15:02:14,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
6,Hq00103 (Louie),Right,10.02.2019 15:02:15,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
7,Hq00103 (Louie),Left,10.02.2019 15:02:16,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
8,Hq00103 (Louie),Right,10.02.2019 15:02:17,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
9,Hq00103 (Louie),Left,10.02.2019 15:02:18,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
10,Hq00103 (Louie),Right,10.02.2019 15:02:19,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
11,Hq00103 (Louie),Left,10.02.2019 15:02:20,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
12,Hq00103 (Louie),Right,10.02.2019 15:02:21,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
13,Hq00103 (Louie),Left,10.02.2019 15:02:22,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
14,Hq00103 (Louie),Right,10.02.2019 15:02:23,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
15,Hq00103 (Louie),Left,10.02.2019 15:02:24,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
16,Hq00103 (Louie),Right,10.02.2019 15:02:25,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
17,Hq00103 (Louie),Left,10.02.2019 15:02:26,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
18,Hq00103 (Louie),Right,10.02.2019 15:02:27,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
19,Hq00103 (Louie),Right,10.02.2019 15:02:28,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
20,Hq00103 (Louie),Right,10.02.2019 15:02:29,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
21,Hq00103 (Louie),Left,10.02.2019 15:02:30,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
22,Hq00103 (Louie),Left,10.02.2019 15:02:31,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
23,Hq00103 (Louie),Right,10.02.2019 15:02:32,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
24,Hq00103 (Louie),Left,10.02.2019 15:02:33,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
25,Hq00103 (Louie),Right,10.02.2019 15:02:34,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
26,Hq00103 (Louie),Left,10.02.2019 15:02:35,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
27,Hq00103 (Louie),Right,10.02.2019 15:02:36,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
28,Hq00103 (Louie),Left,10.02.2019 15:02:37,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
29,Hq00103 (Louie),Right,10.02.2019 15:02:38,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
...,...,...,...,...,...,...,...,...,...,...,...
184,hq00102 (Louie),Right,10.01.2019 15:02:86,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
185,hq00102 (Louie),Right,10.01.2019 15:02:87,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
186,hq00102 (Louie),Left,10.01.2019 15:02:88,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
187,hq00102 (Louie),Right,10.01.2019 15:02:89,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
188,hq00102 (Louie),Left,10.01.2019 15:02:90,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
189,hq00102 (Louie),Left,10.01.2019 15:02:91,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
190,hq00102 (Louie),Right,10.01.2019 15:02:92,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
191,hq00102 (Louie),Left,10.01.2019 15:02:93,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
192,hq00102 (Louie),Right,10.01.2019 15:02:94,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
193,hq00102 (Louie),Right,10.01.2019 15:02:95,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
194,hq00102 (Louie),Left,10.01.2019 15:02:96,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
195,hq00102 (Louie),Right,10.01.2019 15:02:97,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
196,hq00102 (Louie),Left,10.01.2019 15:02:98,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
197,hq00102 (Louie),Right,10.01.2019 15:02:99,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
198,hq00102 (Louie),Left,10.01.2019 15:02:100,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
199,hq00102 (Louie),Right,10.01.2019 15:02:101,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
200,hq00102 (Louie),Left,10.01.2019 15:02:102,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
201,hq00102 (Louie),Right,10.01.2019 15:02:103,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
202,hq00102 (Louie),Left,10.01.2019 15:02:104,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
203,hq00102 (Louie),Right,10.01.2019 15:02:105,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
204,hq00102 (Louie),Left,10.01.2019 15:02:106,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
205,hq00102 (Louie),Right,10.01.2019 15:02:107,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
206,hq00102 (Louie),Left,10.01.2019 15:02:108,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
207,hq00102 (Louie),Right,10.01.2019 15:02:109,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
208,hq00102 (Louie),Left,10.01.2019 15:02:110,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
209,hq00102 (Louie),Right,10.01.2019 15:02:111,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
210,S123456,Left,10.01.2019 15:02:112,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
211,S123456,Right,10.01.2019 15:02:113,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
212,hq00102 (Louie),Right,10.01.2019 15:02:114,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tFSE,Manual
213,hq00102 (Louie),Left,10.01.2019 15:02:115,0.9932,1.027,0.9354,0.9854,0.9684,1.005,\tAdmin,Manual

In [291]:
#Split the date and time column
cols = calibration_df["DATE/TIME"].str.split(" ", n = 1, expand = True)
calibration_df["Date"]= cols[0]
calibration_df["Time"]= cols[1]
calibration_df.drop(columns =["DATE/TIME"], inplace = True)
cols

              0          1
0    10.02.2019   15:02:09
1    10.02.2019   15:02:10
2    10.02.2019   15:02:11
3    10.02.2019   15:02:12
4    10.02.2019   15:02:13
5    10.02.2019   15:02:14
6    10.02.2019   15:02:15
7    10.02.2019   15:02:16
8    10.02.2019   15:02:17
9    10.02.2019   15:02:18
10   10.02.2019   15:02:19
11   10.02.2019   15:02:20
12   10.02.2019   15:02:21
13   10.02.2019   15:02:22
14   10.02.2019   15:02:23
15   10.02.2019   15:02:24
16   10.02.2019   15:02:25
17   10.02.2019   15:02:26
18   10.02.2019   15:02:27
19   10.02.2019   15:02:28
20   10.02.2019   15:02:29
21   10.02.2019   15:02:30
22   10.02.2019   15:02:31
23   10.02.2019   15:02:32
24   10.02.2019   15:02:33
25   10.02.2019   15:02:34
26   10.02.2019   15:02:35
27   10.02.2019   15:02:36
28   10.02.2019   15:02:37
29   10.02.2019   15:02:38
..          ...        ...
184  10.01.2019   15:02:86
185  10.01.2019   15:02:87
186  10.01.2019   15:02:88
187  10.01.2019   15:02:89
188  10.01.2019   15:02:90
189  10.01.2019   15:02:91
190  10.01.2019   15:02:92
191  10.01.2019   15:02:93
192  10.01.2019   15:02:94
193  10.01.2019   15:02:95
194  10.01.2019   15:02:96
195  10.01.2019   15:02:97
196  10.01.2019   15:02:98
197  10.01.2019   15:02:99
198  10.01.2019  15:02:100
199  10.01.2019  15:02:101
200  10.01.2019  15:02:102
201  10.01.2019  15:02:103
202  10.01.2019  15:02:104
203  10.01.2019  15:02:105
204  10.01.2019  15:02:106
205  10.01.2019  15:02:107
206  10.01.2019  15:02:108
207  10.01.2019  15:02:109
208  10.01.2019  15:02:110
209  10.01.2019  15:02:111
210  10.01.2019  15:02:112
211  10.01.2019  15:02:113
212  10.01.2019  15:02:114
213  10.01.2019  15:02:115

[214 rows x 2 columns]

In [292]:
# Split the Module from the corresponding name
cols = calibration_df["MODULE"].str.split(" ", n = 1, expand = True)
calibration_df["Module"]= cols[0]
calibration_df["Name"]= cols[1]
calibration_df.drop(columns =["MODULE"], inplace = True)
cols

           0        1
0    Hq00103  (Louie)
1    Hq00103  (Louie)
2    Hq00103  (Louie)
3    Hq00103  (Louie)
4    Hq00103  (Louie)
5    Hq00103  (Louie)
6    Hq00103  (Louie)
7    Hq00103  (Louie)
8    Hq00103  (Louie)
9    Hq00103  (Louie)
10   Hq00103  (Louie)
11   Hq00103  (Louie)
12   Hq00103  (Louie)
13   Hq00103  (Louie)
14   Hq00103  (Louie)
15   Hq00103  (Louie)
16   Hq00103  (Louie)
17   Hq00103  (Louie)
18   Hq00103  (Louie)
19   Hq00103  (Louie)
20   Hq00103  (Louie)
21   Hq00103  (Louie)
22   Hq00103  (Louie)
23   Hq00103  (Louie)
24   Hq00103  (Louie)
25   Hq00103  (Louie)
26   Hq00103  (Louie)
27   Hq00103  (Louie)
28   Hq00103  (Louie)
29   Hq00103  (Louie)
..       ...      ...
184  hq00102  (Louie)
185  hq00102  (Louie)
186  hq00102  (Louie)
187  hq00102  (Louie)
188  hq00102  (Louie)
189  hq00102  (Louie)
190  hq00102  (Louie)
191  hq00102  (Louie)
192  hq00102  (Louie)
193  hq00102  (Louie)
194  hq00102  (Louie)
195  hq00102  (Louie)
196  hq00102  (Louie)
197  hq00102  (Louie)
198  hq00102  (Louie)
199  hq00102  (Louie)
200  hq00102  (Louie)
201  hq00102  (Louie)
202  hq00102  (Louie)
203  hq00102  (Louie)
204  hq00102  (Louie)
205  hq00102  (Louie)
206  hq00102  (Louie)
207  hq00102  (Louie)
208  hq00102  (Louie)
209  hq00102  (Louie)
210  S123456     None
211  S123456     None
212  hq00102  (Louie)
213  hq00102  (Louie)

[214 rows x 2 columns]

In [293]:
# split the Date column into two columns for date and month
calibration_df['Day'] = pd.DatetimeIndex(calibration_df['Date']).day
calibration_df['Month'] = pd.DatetimeIndex(calibration_df['Date']).month

In [294]:
# Delete unneeded columns
del calibration_df['WBC']
del calibration_df["RBC"]
del calibration_df["HGB"]
del calibration_df['PLT']
del calibration_df['MPV']
del calibration_df["METHOD"]
del calibration_df["Name"]

In [295]:
# Make sure that all module titles are capitalized in a new column and delete original Module column
calibration_df["Modules"] = calibration_df["Module"].str.capitalize()
del calibration_df["Module"]

In [296]:
# display updated calibration dataframe
calibration_df

    L/R BLOCK     MCV OPERATOR ID        Date       Time  Day  Month  Modules
0        Left  0.9854       \tFSE  10.02.2019   15:02:09    2     10  Hq00103
1       Right  0.9854       \tFSE  10.02.2019   15:02:10    2     10  Hq00103
2        Left  0.9854       \tFSE  10.02.2019   15:02:11    2     10  Hq00103
3        Left  0.9854       \tFSE  10.02.2019   15:02:12    2     10  Hq00103
4       Right  0.9854       \tFSE  10.02.2019   15:02:13    2     10  Hq00103
5       Right  0.9854       \tFSE  10.02.2019   15:02:14    2     10  Hq00103
6       Right  0.9854       \tFSE  10.02.2019   15:02:15    2     10  Hq00103
7        Left  0.9854       \tFSE  10.02.2019   15:02:16    2     10  Hq00103
8       Right  0.9854       \tFSE  10.02.2019   15:02:17    2     10  Hq00103
9        Left  0.9854       \tFSE  10.02.2019   15:02:18    2     10  Hq00103
10      Right  0.9854       \tFSE  10.02.2019   15:02:19    2     10  Hq00103
11       Left  0.9854       \tFSE  10.02.2019   15:02:20    2     10  Hq00103
12      Right  0.9854       \tFSE  10.02.2019   15:02:21    2     10  Hq00103
13       Left  0.9854       \tFSE  10.02.2019   15:02:22    2     10  Hq00103
14      Right  0.9854       \tFSE  10.02.2019   15:02:23    2     10  Hq00103
15       Left  0.9854       \tFSE  10.02.2019   15:02:24    2     10  Hq00103
16      Right  0.9854       \tFSE  10.02.2019   15:02:25    2     10  Hq00103
17       Left  0.9854       \tFSE  10.02.2019   15:02:26    2     10  Hq00103
18      Right  0.9854       \tFSE  10.02.2019   15:02:27    2     10  Hq00103
19      Right  0.9854       \tFSE  10.02.2019   15:02:28    2     10  Hq00103
20      Right  0.9854       \tFSE  10.02.2019   15:02:29    2     10  Hq00103
21       Left  0.9854       \tFSE  10.02.2019   15:02:30    2     10  Hq00103
22       Left  0.9854       \tFSE  10.02.2019   15:02:31    2     10  Hq00103
23      Right  0.9854       \tFSE  10.02.2019   15:02:32    2     10  Hq00103
24       Left  0.9854       \tFSE  10.02.2019   15:02:33    2     10  Hq00103
25      Right  0.9854       \tFSE  10.02.2019   15:02:34    2     10  Hq00103
26       Left  0.9854       \tFSE  10.02.2019   15:02:35    2     10  Hq00103
27      Right  0.9854       \tFSE  10.02.2019   15:02:36    2     10  Hq00103
28       Left  0.9854       \tFSE  10.02.2019   15:02:37    2     10  Hq00103
29      Right  0.9854       \tFSE  10.02.2019   15:02:38    2     10  Hq00103
..        ...     ...         ...         ...        ...  ...    ...      ...
184     Right  0.9854       \tFSE  10.01.2019   15:02:86    1     10  Hq00102
185     Right  0.9854       \tFSE  10.01.2019   15:02:87    1     10  Hq00102
186      Left  0.9854       \tFSE  10.01.2019   15:02:88    1     10  Hq00102
187     Right  0.9854       \tFSE  10.01.2019   15:02:89    1     10  Hq00102
188      Left  0.9854       \tFSE  10.01.2019   15:02:90    1     10  Hq00102
189      Left  0.9854       \tFSE  10.01.2019   15:02:91    1     10  Hq00102
190     Right  0.9854       \tFSE  10.01.2019   15:02:92    1     10  Hq00102
191      Left  0.9854       \tFSE  10.01.2019   15:02:93    1     10  Hq00102
192     Right  0.9854       \tFSE  10.01.2019   15:02:94    1     10  Hq00102
193     Right  0.9854       \tFSE  10.01.2019   15:02:95    1     10  Hq00102
194      Left  0.9854       \tFSE  10.01.2019   15:02:96    1     10  Hq00102
195     Right  0.9854       \tFSE  10.01.2019   15:02:97    1     10  Hq00102
196      Left  0.9854       \tFSE  10.01.2019   15:02:98    1     10  Hq00102
197     Right  0.9854       \tFSE  10.01.2019   15:02:99    1     10  Hq00102
198      Left  0.9854       \tFSE  10.01.2019  15:02:100    1     10  Hq00102
199     Right  0.9854       \tFSE  10.01.2019  15:02:101    1     10  Hq00102
200      Left  0.9854       \tFSE  10.01.2019  15:02:102    1     10  Hq00102
201     Right  0.9854       \tFSE  10.01.2019  15:02:103    1     10  Hq00102
202      Left  0.9854       \tFSE  10.01.2019  15:02:104    1     10  Hq00102
203     Right  0.9854       \tFSE  10.01.2019  15:02:105    1     10  Hq00102
204      Left  0.9854       \tFSE  10.01.2019  15:02:106    1     10  Hq00102
205     Right  0.9854       \tFSE  10.01.2019  15:02:107    1     10  Hq00102
206      Left  0.9854       \tFSE  10.01.2019  15:02:108    1     10  Hq00102
207     Right  0.9854       \tFSE  10.01.2019  15:02:109    1     10  Hq00102
208      Left  0.9854       \tFSE  10.01.2019  15:02:110    1     10  Hq00102
209     Right  0.9854       \tFSE  10.01.2019  15:02:111    1     10  Hq00102
210      Left  0.9854       \tFSE  10.01.2019  15:02:112    1     10  S123456
211     Right  0.9854       \tFSE  10.01.2019  15:02:113    1     10  S123456
212     Right  0.9854       \tFSE  10.01.2019  15:02:114    1     10  Hq00102
213      Left  0.9854     \tAdmin  10.01.2019  15:02:115    1     10  Hq00102

[214 rows x 8 columns]

In [297]:
# Pull the data for the left block
left_cal_df = calibration_df[(calibration_df["L/R BLOCK"] == "Left")]
left_cal_df

    L/R BLOCK     MCV OPERATOR ID        Date       Time  Day  Month  Modules
0        Left  0.9854       \tFSE  10.02.2019   15:02:09    2     10  Hq00103
2        Left  0.9854       \tFSE  10.02.2019   15:02:11    2     10  Hq00103
3        Left  0.9854       \tFSE  10.02.2019   15:02:12    2     10  Hq00103
7        Left  0.9854       \tFSE  10.02.2019   15:02:16    2     10  Hq00103
9        Left  0.9854       \tFSE  10.02.2019   15:02:18    2     10  Hq00103
11       Left  0.9854       \tFSE  10.02.2019   15:02:20    2     10  Hq00103
13       Left  0.9854       \tFSE  10.02.2019   15:02:22    2     10  Hq00103
15       Left  0.9854       \tFSE  10.02.2019   15:02:24    2     10  Hq00103
17       Left  0.9854       \tFSE  10.02.2019   15:02:26    2     10  Hq00103
21       Left  0.9854       \tFSE  10.02.2019   15:02:30    2     10  Hq00103
22       Left  0.9854       \tFSE  10.02.2019   15:02:31    2     10  Hq00103
24       Left  0.9854       \tFSE  10.02.2019   15:02:33    2     10  Hq00103
26       Left  0.9854       \tFSE  10.02.2019   15:02:35    2     10  Hq00103
28       Left  0.9854       \tFSE  10.02.2019   15:02:37    2     10  Hq00103
30       Left  0.9854       \tFSE  10.02.2019   15:02:39    2     10  Hq00103
32       Left  0.9854       \tFSE  10.02.2019   15:02:41    2     10  Hq00103
34       Left  0.9854       \tFSE  10.02.2019   15:02:43    2     10  Hq00103
35       Left  0.9854       \tFSE  10.02.2019   15:02:44    2     10  Hq00103
38       Left  0.9854       \tFSE  10.02.2019   15:02:47    2     10  Hq00103
40       Left  0.9854       \tFSE  10.02.2019   15:02:49    2     10  Hq00103
42       Left  0.9854       \tFSE  10.02.2019   15:02:51    2     10  Hq00103
44       Left  0.9854       \tFSE  10.02.2019   15:02:53    2     10  Hq00103
46       Left  0.9854       \tFSE  10.02.2019   15:02:55    2     10  Hq00103
48       Left  0.9854       \tFSE  10.02.2019   15:02:57    2     10  Hq00103
50       Left  0.9854       \tFSE  10.02.2019   15:02:59    2     10  Hq00103
52       Left  0.9854       \tFSE  10.02.2019   15:02:61    2     10  Hq00103
54       Left  0.9854       \tFSE  10.02.2019   15:02:63    2     10  Hq00103
57       Left  0.9854       \tFSE  10.02.2019   15:02:66    2     10  Hq00103
58       Left  0.9854       \tFSE  10.02.2019   15:02:67    2     10  Hq00103
61       Left  0.9854       \tFSE  10.02.2019   15:02:70    2     10  Hq00103
..        ...     ...         ...         ...        ...  ...    ...      ...
153      Left  0.9854       \tFSE  10.01.2019   15:02:55    1     10  Hq00102
155      Left  0.9854       \tFSE  10.01.2019   15:02:57    1     10  Hq00102
157      Left  0.9854       \tFSE  10.01.2019   15:02:59    1     10  Hq00102
159      Left  0.9854       \tFSE  10.01.2019   15:02:61    1     10  Hq00102
161      Left  0.9854       \tFSE  10.01.2019   15:02:63    1     10  Hq00102
164      Left  0.9854       \tFSE  10.01.2019   15:02:66    1     10  Hq00102
165      Left  0.9854       \tFSE  10.01.2019   15:02:67    1     10  Hq00102
168      Left  0.9854       \tFSE  10.01.2019   15:02:70    1     10  Hq00102
169      Left  0.9854       \tFSE  10.01.2019   15:02:71    1     10  Hq00102
171      Left  0.9854       \tFSE  10.01.2019   15:02:73    1     10  Hq00102
173      Left  0.9854       \tFSE  10.01.2019   15:02:75    1     10  Hq00102
175      Left  0.9854       \tFSE  10.01.2019   15:02:77    1     10  Hq00102
177      Left  0.9854       \tFSE  10.01.2019   15:02:79    1     10  Hq00102
179      Left  0.9854       \tFSE  10.01.2019   15:02:81    1     10  Hq00102
181      Left  0.9854       \tFSE  10.01.2019   15:02:83    1     10  Hq00102
183      Left  0.9854       \tFSE  10.01.2019   15:02:85    1     10  Hq00102
186      Left  0.9854       \tFSE  10.01.2019   15:02:88    1     10  Hq00102
188      Left  0.9854       \tFSE  10.01.2019   15:02:90    1     10  Hq00102
189      Left  0.9854       \tFSE  10.01.2019   15:02:91    1     10  Hq00102
191      Left  0.9854       \tFSE  10.01.2019   15:02:93    1     10  Hq00102
194      Left  0.9854       \tFSE  10.01.2019   15:02:96    1     10  Hq00102
196      Left  0.9854       \tFSE  10.01.2019   15:02:98    1     10  Hq00102
198      Left  0.9854       \tFSE  10.01.2019  15:02:100    1     10  Hq00102
200      Left  0.9854       \tFSE  10.01.2019  15:02:102    1     10  Hq00102
202      Left  0.9854       \tFSE  10.01.2019  15:02:104    1     10  Hq00102
204      Left  0.9854       \tFSE  10.01.2019  15:02:106    1     10  Hq00102
206      Left  0.9854       \tFSE  10.01.2019  15:02:108    1     10  Hq00102
208      Left  0.9854       \tFSE  10.01.2019  15:02:110    1     10  Hq00102
210      Left  0.9854       \tFSE  10.01.2019  15:02:112    1     10  S123456
213      Left  0.9854     \tAdmin  10.01.2019  15:02:115    1     10  Hq00102

[104 rows x 8 columns]

In [298]:
# Create a new dataframe which correctly formats the date
left_date_cal_df = left_cal_df.Day.map(str) + "-" + left_cal_df['Month'].apply(lambda x: calendar.month_abbr[x])

In [299]:
# Create a new column with the corrected date format
new_col = left_date_cal_df
idx = 0
left_cal_df.insert(loc=idx, column='Dates (L)', value=new_col)

In [300]:
# Display 
left_date_cal_df

0      2-Oct
2      2-Oct
3      2-Oct
7      2-Oct
9      2-Oct
11     2-Oct
13     2-Oct
15     2-Oct
17     2-Oct
21     2-Oct
22     2-Oct
24     2-Oct
26     2-Oct
28     2-Oct
30     2-Oct
32     2-Oct
34     2-Oct
35     2-Oct
38     2-Oct
40     2-Oct
42     2-Oct
44     2-Oct
46     2-Oct
48     2-Oct
50     2-Oct
52     2-Oct
54     2-Oct
57     2-Oct
58     2-Oct
61     2-Oct
       ...
153    1-Oct
155    1-Oct
157    1-Oct
159    1-Oct
161    1-Oct
164    1-Oct
165    1-Oct
168    1-Oct
169    1-Oct
171    1-Oct
173    1-Oct
175    1-Oct
177    1-Oct
179    1-Oct
181    1-Oct
183    1-Oct
186    1-Oct
188    1-Oct
189    1-Oct
191    1-Oct
194    1-Oct
196    1-Oct
198    1-Oct
200    1-Oct
202    1-Oct
204    1-Oct
206    1-Oct
208    1-Oct
210    1-Oct
213    1-Oct
Length: 104, dtype: object

In [301]:
# Renaming columns for the left block
left_cal_df.rename(columns={'OPERATOR ID': 'Operator ID (L)'}, inplace=True)
left_cal_df.rename(columns={'MCV': 'MCV_LC'}, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [302]:
# Change columns to indexes
left_values_cal_df = left_cal_df.pivot_table(index = ['Modules', "Date", "Dates (L)", "Time", "Operator ID (L)"], values='MCV_LC') 
left_values_cal_df

                                                        MCV_LC
Modules Date       Dates (L) Time      Operator ID (L)
Hq00102 10.01.2019 1-Oct     15:02:09  \tFSE            0.9854
                             15:02:100 \tFSE            0.9854
                             15:02:102 \tFSE            0.9854
                             15:02:104 \tFSE            0.9854
                             15:02:106 \tFSE            0.9854
                             15:02:108 \tFSE            0.9854
                             15:02:11  \tFSE            0.9854
                             15:02:110 \tFSE            0.9854
                             15:02:115 \tAdmin          0.9854
                             15:02:12  \tFSE            0.9854
                             15:02:16  \tFSE            0.9854
                             15:02:18  \tFSE            0.9854
                             15:02:20  \tFSE            0.9854
                             15:02:22  \tFSE            0.9854
                             15:02:24  \tFSE            0.9854
                             15:02:26  \tFSE            0.9854
                             15:02:30  \tFSE            0.9854
                             15:02:31  \tFSE            0.9854
                             15:02:33  \tFSE            0.9854
                             15:02:35  \tFSE            0.9854
                             15:02:37  \tFSE            0.9854
                             15:02:39  \tFSE            0.9854
                             15:02:41  \tFSE            0.9854
                             15:02:43  \tFSE            0.9854
                             15:02:44  \tFSE            0.9854
                             15:02:47  \tFSE            0.9854
                             15:02:49  \tFSE            0.9854
                             15:02:51  \tFSE            0.9854
                             15:02:53  \tFSE            0.9854
                             15:02:55  \tFSE            0.9854
...                                                        ...
Hq00103 10.02.2019 2-Oct     15:02:41  \tFSE            0.9854
                             15:02:43  \tFSE            0.9854
                             15:02:44  \tFSE            0.9854
                             15:02:47  \tFSE            0.9854
                             15:02:49  \tFSE            0.9854
                             15:02:51  \tFSE            0.9854
                             15:02:53  \tFSE            0.9854
                             15:02:55  \tFSE            0.9854
                             15:02:57  \tFSE            0.9854
                             15:02:59  \tFSE            0.9854
                             15:02:61  \tFSE            0.9854
                             15:02:63  \tFSE            0.9854
                             15:02:66  \tFSE            0.9854
                             15:02:67  \tFSE            0.9854
                             15:02:70  \tFSE            0.9854
                             15:02:71  \tFSE            0.9854
                             15:02:73  \tFSE            0.9854
                             15:02:75  \tFSE            0.9854
                             15:02:77  \tFSE            0.9854
                             15:02:79  \tFSE            0.9854
                             15:02:81  \tFSE            0.9854
                             15:02:83  \tFSE            0.9854
                             15:02:85  \tFSE            0.9854
                             15:02:88  \tFSE            0.9854
                             15:02:90  \tFSE            0.9854
                             15:02:91  \tFSE            0.9854
                             15:02:93  \tFSE            0.9854
                             15:02:96  \tFSE            0.9854
                             15:02:98  \tFSE            0.9854
S123456 10.01.2019 1-Oct     15:02:112 \tFSE            0.9854

[104 rows x 1 columns]

In [303]:
# reverse order of dataframe
reversed_left_cal_df = left_values_cal_df.iloc[::-1]

In [304]:
# Group by modules column
left_modules_cal_df = reversed_left_cal_df.loc[reversed_left_cal_df.groupby('Modules').MCV_LC.idxmax()]

In [305]:
# Change indexes back to columns
left_module_cal_df = left_modules_cal_df.reset_index(level=['Time', "Date", 'Dates (L)', "Operator ID (L)"])

In [306]:
# Delete unwanted columns and display final result
del left_module_cal_df["Date"]
del left_module_cal_df["Time"]
left_module_cal_df

        Dates (L) Operator ID (L)  MCV_LC
Modules
Hq00102     1-Oct           \tFSE  0.9854
Hq00103     2-Oct         \tAdmin  0.9955
S123456     1-Oct           \tFSE  0.9854

In [307]:
#Display concatenated dilution data
dilution_df

,MODULE,L/R BLOCK,DATE/TIME,WBC,RBC,HGB,MCV,PLT,MPV,OPERATOR ID,METHOD
0,hq00102 (Left),Right,14.02.2019 01:16:52 PM,1.095,1.130,0.9786,0.990,0.8867,0.9834,\tFSE,Manual
1,hq00102 (Left),Left,14.02.2019 01:16:19 PM,1.103,1.130,0.9755,0.990,0.8850,0.9769,\tFSE,Manual
2,hq00102 (Left),Right,14.02.2019 01:08:02 PM,1.095,1.090,0.9786,0.990,0.8867,0.9834,\tFSE,Manual
3,hq00102 (Left),Left,14.02.2019 01:07:52 PM,1.103,1.090,0.9755,0.990,0.8850,0.9769,\tFSE,Manual
4,hq00102 (Left),Right,13.02.2019 03:57:43 PM,1.095,1.069,0.9786,0.990,0.8867,0.9834,\tFSE,Manual
5,hq00102 (Left),Left,13.02.2019 03:57:38 PM,1.103,1.067,0.9755,0.990,0.8850,0.9769,\tFSE,Manual
6,hq00102 (Left),Right,13.02.2019 02:38:33 PM,1.095,1.069,0.9786,1.000,0.8867,0.9834,\tFSE,Manual
7,hq00102 (Left),Left,13.02.2019 02:38:26 PM,1.103,1.067,0.9755,1.000,0.8850,0.9769,\tFSE,Manual
8,hq00102 (Left),Right,20.12.2018 12:02:18 PM,1.095,1.069,0.9786,0.973,0.8867,0.9834,\tFSE,Manual
9,hq00102 (Left),Left,20.12.2018 12:02:08 PM,1.103,1.067,0.9755,0.973,0.8850,0.9769,\tFSE,Manual
10,hq00103 (Right),Right,20.12.2018 11:47:10 AM,1.137,1.147,0.9493,0.998,0.9688,0.9664,\tFSE,Manual
11,hq00103 (Right),Left,20.12.2018 11:47:04 AM,1.140,1.141,0.9510,0.998,0.9384,0.9695,\tFSE,Manual
12,hq00102 (Left),Left,20.12.2018 11:39:43 AM,1.103,1.067,0.9755,1.073,0.8850,0.9769,\tFSE,Manual
13,hq00102 (Left),Right,20.12.2018 11:39:34 AM,1.095,1.069,0.9786,1.073,0.8867,0.9834,\tFSE,Manual
14,hq00103 (Right),Right,20.12.2018 11:38:50 AM,1.137,1.147,0.9493,1.090,0.9688,0.9664,\tFSE,Manual
15,hq00103 (Right),Left,20.12.2018 11:38:40 AM,1.140,1.141,0.9510,1.090,0.9384,0.9695,\tFSE,Manual
16,hq00103 (Right),Right,20.12.2018 11:36:42 AM,1.137,1.147,0.9493,1.059,0.9688,0.9664,\tFSE,Manual
17,hq00103 (Right),Left,20.12.2018 11:36:33 AM,1.140,1.141,0.9510,1.059,0.9384,0.9695,\tFSE,Manual
18,hq00103 (Right),Right,20.12.2018 11:31:11 AM,1.137,1.147,0.9493,1.000,0.9688,0.9664,\tFSE,Manual
19,hq00103 (Right),Left,20.12.2018 11:31:03 AM,1.140,1.141,0.9510,1.000,0.9384,0.9695,\tFSE,Manual
20,hq00103 (Right),Right,12.12.2018 04:29:20 PM,1.137,1.147,0.9493,1.059,0.9688,0.9664,\tFSE,Manual
21,hq00103 (Right),Left,12.12.2018 04:29:12 PM,1.140,1.141,0.9510,1.059,0.9384,0.9695,\tFSE,Manual
22,hq00102 (Left),Right,11.12.2018 01:45:36 PM,1.095,1.069,0.9786,1.032,0.8867,0.9834,\tFSE,Manual
23,hq00102 (Left),Left,11.12.2018 01:45:31 PM,1.103,1.067,0.9755,1.032,0.8850,0.9769,\tFSE,Manual
24,hq00103 (Right),Right,11.12.2018 01:29:28 PM,1.137,1.147,0.9493,1.018,0.9688,0.9664,\tFSE,Manual
25,hq00103 (Right),Left,11.12.2018 01:29:20 PM,1.140,1.141,0.9510,1.018,0.9384,0.9695,\tFSE,Manual
26,hq00103 (Right),Right,11.12.2018 01:12:09 PM,1.137,1.147,0.9493,1.025,0.9688,0.9664,\tFSE,Manual
27,hq00103 (Right),Left,11.12.2018 01:12:02 PM,1.140,1.141,0.9510,1.025,0.9384,0.9695,\tFSE,Manual
28,hq00103 (Right),Right,11.12.2018 12:55:23 PM,1.137,1.147,0.9493,0.990,0.9688,0.9664,\tFSE,Manual
29,hq00103 (Right),Left,11.12.2018 12:55:16 PM,1.140,1.141,0.9510,0.990,0.9384,0.9695,\tFSE,Manual
30,hq00103 (Right),Left,11.12.2018 12:50:11 PM,1.140,1.141,0.9510,1.018,0.9384,0.9695,\tFSE,Manual
31,hq00103 (Right),Right,11.12.2018 12:50:04 PM,1.137,1.147,0.9493,1.018,0.9688,0.9664,\tFSE,Manual
32,hq00103 (Right),Right,11.12.2018 12:44:50 PM,1.137,1.147,0.9493,0.990,0.9688,0.9664,\tFSE,Manual
33,hq00103 (Right),Left,11.12.2018 12:44:42 PM,1.140,1.141,0.9510,0.990,0.9384,0.9695,\tFSE,Manual
34,hq00103 (Right),Right,11.12.2018 12:39:33 PM,1.137,1.147,0.9493,1.058,0.9688,0.9664,\tFSE,Manual
35,hq00103 (Right),Left,11.12.2018 12:39:26 PM,1.140,1.141,0.9510,1.058,0.9384,0.9695,\tFSE,Manual
36,hq00103 (Right),Right,05.10.2018 03:20:01 PM,1.137,1.147,0.9493,0.990,0.9688,0.9664,\tFSE,Manual
37,hq00103 (Right),Left,05.10.2018 03:19:57 PM,1.140,1.141,0.9510,0.990,0.9384,0.9695,\tFSE,Manual
38,hq00102 (Left),Right,06.06.2018 01:48:53 PM,1.095,1.069,0.9786,1.000,0.8867,0.9834,\t,Auto
39,hq00102 (Left),Left,06.06.2018 01:48:38 PM,1.103,1.067,0.9755,1.000,0.8850,0.9769,\t,Auto
40,hq00103 (Right),Right,23.04.2018 11:00:42 AM,1.137,1.147,0.9493,0.960,0.9688,0.9664,\t,Auto
41,hq00103 (Right),Left,23.04.2018 11:00:36 AM,1.140,1.141,0.9510,0.960,0.9384,0.9695,\t,Auto

In [308]:
# Create two columns separating the date from the time
cols = dilution_df["DATE/TIME"].str.split(" ", n = 1, expand = True)
dilution_df["Date"]= cols[0]
dilution_df["Time"]= cols[1]
dilution_df.drop(columns =["DATE/TIME"], inplace = True)
cols

             0            1
0   14.02.2019  01:16:52 PM
1   14.02.2019  01:16:19 PM
2   14.02.2019  01:08:02 PM
3   14.02.2019  01:07:52 PM
4   13.02.2019  03:57:43 PM
5   13.02.2019  03:57:38 PM
6   13.02.2019  02:38:33 PM
7   13.02.2019  02:38:26 PM
8   20.12.2018  12:02:18 PM
9   20.12.2018  12:02:08 PM
10  20.12.2018  11:47:10 AM
11  20.12.2018  11:47:04 AM
12  20.12.2018  11:39:43 AM
13  20.12.2018  11:39:34 AM
14  20.12.2018  11:38:50 AM
15  20.12.2018  11:38:40 AM
16  20.12.2018  11:36:42 AM
17  20.12.2018  11:36:33 AM
18  20.12.2018  11:31:11 AM
19  20.12.2018  11:31:03 AM
20  12.12.2018  04:29:20 PM
21  12.12.2018  04:29:12 PM
22  11.12.2018  01:45:36 PM
23  11.12.2018  01:45:31 PM
24  11.12.2018  01:29:28 PM
25  11.12.2018  01:29:20 PM
26  11.12.2018  01:12:09 PM
27  11.12.2018  01:12:02 PM
28  11.12.2018  12:55:23 PM
29  11.12.2018  12:55:16 PM
30  11.12.2018  12:50:11 PM
31  11.12.2018  12:50:04 PM
32  11.12.2018  12:44:50 PM
33  11.12.2018  12:44:42 PM
34  11.12.2018  12:39:33 PM
35  11.12.2018  12:39:26 PM
36  05.10.2018  03:20:01 PM
37  05.10.2018  03:19:57 PM
38  06.06.2018  01:48:53 PM
39  06.06.2018  01:48:38 PM
40  23.04.2018  11:00:42 AM
41  23.04.2018  11:00:36 AM

In [309]:
# Separate the module column from the corresponding name
cols = dilution_df["MODULE"].str.split(" ", n = 1, expand = True)
dilution_df["Module"]= cols[0]
dilution_df["Name"]= cols[1]
dilution_df.drop(columns =["MODULE"], inplace = True)
cols

          0        1
0   hq00102   (Left)
1   hq00102   (Left)
2   hq00102   (Left)
3   hq00102   (Left)
4   hq00102   (Left)
5   hq00102   (Left)
6   hq00102   (Left)
7   hq00102   (Left)
8   hq00102   (Left)
9   hq00102   (Left)
10  hq00103  (Right)
11  hq00103  (Right)
12  hq00102   (Left)
13  hq00102   (Left)
14  hq00103  (Right)
15  hq00103  (Right)
16  hq00103  (Right)
17  hq00103  (Right)
18  hq00103  (Right)
19  hq00103  (Right)
20  hq00103  (Right)
21  hq00103  (Right)
22  hq00102   (Left)
23  hq00102   (Left)
24  hq00103  (Right)
25  hq00103  (Right)
26  hq00103  (Right)
27  hq00103  (Right)
28  hq00103  (Right)
29  hq00103  (Right)
30  hq00103  (Right)
31  hq00103  (Right)
32  hq00103  (Right)
33  hq00103  (Right)
34  hq00103  (Right)
35  hq00103  (Right)
36  hq00103  (Right)
37  hq00103  (Right)
38  hq00102   (Left)
39  hq00102   (Left)
40  hq00103  (Right)
41  hq00103  (Right)

In [310]:
# Capitalize all module titles and delete original module column
dilution_df["Modules"] = dilution_df["Module"].str.capitalize()
del dilution_df["Module"]

In [311]:
# Split date column into date and month
dilution_df['Day'] = pd.DatetimeIndex(dilution_df['Date']).day
dilution_df['Month'] = pd.DatetimeIndex(dilution_df['Date']).month

In [312]:
# Delete unnecessary columns and display revised dilution dataframe
del dilution_df['WBC']
del dilution_df["RBC"]
del dilution_df["HGB"]
del dilution_df['PLT']
del dilution_df['MPV']
del dilution_df["METHOD"]
del dilution_df["Name"]
dilution_df

   L/R BLOCK    MCV OPERATOR ID        Date         Time  Modules  Day  Month
0      Right  0.990       \tFSE  14.02.2019  01:16:52 PM  Hq00102   14      2
1       Left  0.990       \tFSE  14.02.2019  01:16:19 PM  Hq00102   14      2
2      Right  0.990       \tFSE  14.02.2019  01:08:02 PM  Hq00102   14      2
3       Left  0.990       \tFSE  14.02.2019  01:07:52 PM  Hq00102   14      2
4      Right  0.990       \tFSE  13.02.2019  03:57:43 PM  Hq00102   13      2
5       Left  0.990       \tFSE  13.02.2019  03:57:38 PM  Hq00102   13      2
6      Right  1.000       \tFSE  13.02.2019  02:38:33 PM  Hq00102   13      2
7       Left  1.000       \tFSE  13.02.2019  02:38:26 PM  Hq00102   13      2
8      Right  0.973       \tFSE  20.12.2018  12:02:18 PM  Hq00102   20     12
9       Left  0.973       \tFSE  20.12.2018  12:02:08 PM  Hq00102   20     12
10     Right  0.998       \tFSE  20.12.2018  11:47:10 AM  Hq00103   20     12
11      Left  0.998       \tFSE  20.12.2018  11:47:04 AM  Hq00103   20     12
12      Left  1.073       \tFSE  20.12.2018  11:39:43 AM  Hq00102   20     12
13     Right  1.073       \tFSE  20.12.2018  11:39:34 AM  Hq00102   20     12
14     Right  1.090       \tFSE  20.12.2018  11:38:50 AM  Hq00103   20     12
15      Left  1.090       \tFSE  20.12.2018  11:38:40 AM  Hq00103   20     12
16     Right  1.059       \tFSE  20.12.2018  11:36:42 AM  Hq00103   20     12
17      Left  1.059       \tFSE  20.12.2018  11:36:33 AM  Hq00103   20     12
18     Right  1.000       \tFSE  20.12.2018  11:31:11 AM  Hq00103   20     12
19      Left  1.000       \tFSE  20.12.2018  11:31:03 AM  Hq00103   20     12
20     Right  1.059       \tFSE  12.12.2018  04:29:20 PM  Hq00103   12     12
21      Left  1.059       \tFSE  12.12.2018  04:29:12 PM  Hq00103   12     12
22     Right  1.032       \tFSE  11.12.2018  01:45:36 PM  Hq00102   12     11
23      Left  1.032       \tFSE  11.12.2018  01:45:31 PM  Hq00102   12     11
24     Right  1.018       \tFSE  11.12.2018  01:29:28 PM  Hq00103   12     11
25      Left  1.018       \tFSE  11.12.2018  01:29:20 PM  Hq00103   12     11
26     Right  1.025       \tFSE  11.12.2018  01:12:09 PM  Hq00103   12     11
27      Left  1.025       \tFSE  11.12.2018  01:12:02 PM  Hq00103   12     11
28     Right  0.990       \tFSE  11.12.2018  12:55:23 PM  Hq00103   12     11
29      Left  0.990       \tFSE  11.12.2018  12:55:16 PM  Hq00103   12     11
30      Left  1.018       \tFSE  11.12.2018  12:50:11 PM  Hq00103   12     11
31     Right  1.018       \tFSE  11.12.2018  12:50:04 PM  Hq00103   12     11
32     Right  0.990       \tFSE  11.12.2018  12:44:50 PM  Hq00103   12     11
33      Left  0.990       \tFSE  11.12.2018  12:44:42 PM  Hq00103   12     11
34     Right  1.058       \tFSE  11.12.2018  12:39:33 PM  Hq00103   12     11
35      Left  1.058       \tFSE  11.12.2018  12:39:26 PM  Hq00103   12     11
36     Right  0.990       \tFSE  05.10.2018  03:20:01 PM  Hq00103   10      5
37      Left  0.990       \tFSE  05.10.2018  03:19:57 PM  Hq00103   10      5
38     Right  1.000          \t  06.06.2018  01:48:53 PM  Hq00102    6      6
39      Left  1.000          \t  06.06.2018  01:48:38 PM  Hq00102    6      6
40     Right  0.960          \t  23.04.2018  11:00:42 AM  Hq00103   23      4
41      Left  0.960          \t  23.04.2018  11:00:36 AM  Hq00103   23      4

In [313]:
# Display dilution data for the left block
left_dil_df = dilution_df[(dilution_df["L/R BLOCK"] == "Left")]
left_dil_df

   L/R BLOCK    MCV OPERATOR ID        Date         Time  Modules  Day  Month
1       Left  0.990       \tFSE  14.02.2019  01:16:19 PM  Hq00102   14      2
3       Left  0.990       \tFSE  14.02.2019  01:07:52 PM  Hq00102   14      2
5       Left  0.990       \tFSE  13.02.2019  03:57:38 PM  Hq00102   13      2
7       Left  1.000       \tFSE  13.02.2019  02:38:26 PM  Hq00102   13      2
9       Left  0.973       \tFSE  20.12.2018  12:02:08 PM  Hq00102   20     12
11      Left  0.998       \tFSE  20.12.2018  11:47:04 AM  Hq00103   20     12
12      Left  1.073       \tFSE  20.12.2018  11:39:43 AM  Hq00102   20     12
15      Left  1.090       \tFSE  20.12.2018  11:38:40 AM  Hq00103   20     12
17      Left  1.059       \tFSE  20.12.2018  11:36:33 AM  Hq00103   20     12
19      Left  1.000       \tFSE  20.12.2018  11:31:03 AM  Hq00103   20     12
21      Left  1.059       \tFSE  12.12.2018  04:29:12 PM  Hq00103   12     12
23      Left  1.032       \tFSE  11.12.2018  01:45:31 PM  Hq00102   12     11
25      Left  1.018       \tFSE  11.12.2018  01:29:20 PM  Hq00103   12     11
27      Left  1.025       \tFSE  11.12.2018  01:12:02 PM  Hq00103   12     11
29      Left  0.990       \tFSE  11.12.2018  12:55:16 PM  Hq00103   12     11
30      Left  1.018       \tFSE  11.12.2018  12:50:11 PM  Hq00103   12     11
33      Left  0.990       \tFSE  11.12.2018  12:44:42 PM  Hq00103   12     11
35      Left  1.058       \tFSE  11.12.2018  12:39:26 PM  Hq00103   12     11
37      Left  0.990       \tFSE  05.10.2018  03:19:57 PM  Hq00103   10      5
39      Left  1.000          \t  06.06.2018  01:48:38 PM  Hq00102    6      6
41      Left  0.960          \t  23.04.2018  11:00:36 AM  Hq00103   23      4

In [314]:
# Put date data into its correct form 
left_date_dil_df = left_dil_df.Day.map(str) + "-" + left_dil_df['Month'].apply(lambda x: calendar.month_abbr[x])

In [315]:
# Create a new column with the revised date data
new_col = left_date_dil_df
idx = 0
left_dil_df.insert(loc=idx, column='Dates (L)', value=new_col)
left_date_dil_df

1     14-Feb
3     14-Feb
5     13-Feb
7     13-Feb
9     20-Dec
11    20-Dec
12    20-Dec
15    20-Dec
17    20-Dec
19    20-Dec
21    12-Dec
23    12-Nov
25    12-Nov
27    12-Nov
29    12-Nov
30    12-Nov
33    12-Nov
35    12-Nov
37    10-May
39     6-Jun
41    23-Apr
dtype: object

In [316]:
# Change titles of columns to indicate left block
left_dil_df.rename(columns={'OPERATOR ID': 'Operator ID (L)'}, inplace=True)
left_dil_df.rename(columns={'MCV': 'MCV_LD'}, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [317]:
# Change columns to indices and display updated dataframe
left_values_dil_df = left_dil_df.pivot_table(index = ['Modules', "Date", "Dates (L)", "Time", "Operator ID (L)"], values='MCV_LD') 
left_values_dil_df

                                                          MCV_LD
Modules Date       Dates (L) Time        Operator ID (L)
Hq00102 06.06.2018 6-Jun     01:48:38 PM \t                1.000
        11.12.2018 12-Nov    01:45:31 PM \tFSE             1.032
        13.02.2019 13-Feb    02:38:26 PM \tFSE             1.000
                             03:57:38 PM \tFSE             0.990
        14.02.2019 14-Feb    01:07:52 PM \tFSE             0.990
                             01:16:19 PM \tFSE             0.990
        20.12.2018 20-Dec    11:39:43 AM \tFSE             1.073
                             12:02:08 PM \tFSE             0.973
Hq00103 05.10.2018 10-May    03:19:57 PM \tFSE             0.990
        11.12.2018 12-Nov    01:12:02 PM \tFSE             1.025
                             01:29:20 PM \tFSE             1.018
                             12:39:26 PM \tFSE             1.058
                             12:44:42 PM \tFSE             0.990
                             12:50:11 PM \tFSE             1.018
                             12:55:16 PM \tFSE             0.990
        12.12.2018 12-Dec    04:29:12 PM \tFSE             1.059
        20.12.2018 20-Dec    11:31:03 AM \tFSE             1.000
                             11:36:33 AM \tFSE             1.059
                             11:38:40 AM \tFSE             1.090
                             11:47:04 AM \tFSE             0.998
        23.04.2018 23-Apr    11:00:36 AM \t                0.960

In [318]:
# Reverse dataframe order
reversed_left_dil_df = left_values_dil_df.iloc[::-1]

In [319]:
# Groupby the module column
left_modules_dil_df = reversed_left_dil_df.loc[reversed_left_dil_df.groupby('Modules').MCV_LD.idxmax()]

In [320]:
# Switch indexes to columns
left_module_dil_df = left_modules_dil_df.reset_index(level=['Time', "Date", 'Dates (L)', "Operator ID (L)"])

In [321]:
# Delete unwanted columns
del left_module_dil_df["Date"]
del left_module_dil_df["Time"]
left_module_dil_df

        Dates (L) Operator ID (L)  MCV_LD
Modules
Hq00102    20-Dec           \tFSE   1.073
Hq00103    20-Dec           \tFSE   1.090

In [322]:
# Display data for calibration right block
right_cal_df = calibration_df[(calibration_df["L/R BLOCK"] == "Right")]
right_cal_df

    L/R BLOCK     MCV OPERATOR ID        Date       Time  Day  Month  Modules
1       Right  0.9854       \tFSE  10.02.2019   15:02:10    2     10  Hq00103
4       Right  0.9854       \tFSE  10.02.2019   15:02:13    2     10  Hq00103
5       Right  0.9854       \tFSE  10.02.2019   15:02:14    2     10  Hq00103
6       Right  0.9854       \tFSE  10.02.2019   15:02:15    2     10  Hq00103
8       Right  0.9854       \tFSE  10.02.2019   15:02:17    2     10  Hq00103
10      Right  0.9854       \tFSE  10.02.2019   15:02:19    2     10  Hq00103
12      Right  0.9854       \tFSE  10.02.2019   15:02:21    2     10  Hq00103
14      Right  0.9854       \tFSE  10.02.2019   15:02:23    2     10  Hq00103
16      Right  0.9854       \tFSE  10.02.2019   15:02:25    2     10  Hq00103
18      Right  0.9854       \tFSE  10.02.2019   15:02:27    2     10  Hq00103
19      Right  0.9854       \tFSE  10.02.2019   15:02:28    2     10  Hq00103
20      Right  0.9854       \tFSE  10.02.2019   15:02:29    2     10  Hq00103
23      Right  0.9854       \tFSE  10.02.2019   15:02:32    2     10  Hq00103
25      Right  0.9854       \tFSE  10.02.2019   15:02:34    2     10  Hq00103
27      Right  0.9854       \tFSE  10.02.2019   15:02:36    2     10  Hq00103
29      Right  0.9854       \tFSE  10.02.2019   15:02:38    2     10  Hq00103
31      Right  0.9854       \tFSE  10.02.2019   15:02:40    2     10  Hq00103
33      Right  0.9854       \tFSE  10.02.2019   15:02:42    2     10  Hq00103
36      Right  0.9854       \tFSE  10.02.2019   15:02:45    2     10  Hq00103
37      Right  0.9854       \tFSE  10.02.2019   15:02:46    2     10  Hq00103
39      Right  0.9854       \tFSE  10.02.2019   15:02:48    2     10  Hq00103
41      Right  0.9854       \tFSE  10.02.2019   15:02:50    2     10  Hq00103
43      Right  0.9854       \tFSE  10.02.2019   15:02:52    2     10  Hq00103
45      Right  0.9854       \tFSE  10.02.2019   15:02:54    2     10  Hq00103
47      Right  0.9854       \tFSE  10.02.2019   15:02:56    2     10  Hq00103
49      Right  0.9854       \tFSE  10.02.2019   15:02:58    2     10  Hq00103
51      Right  0.9854       \tFSE  10.02.2019   15:02:60    2     10  Hq00103
53      Right  0.9854       \tFSE  10.02.2019   15:02:62    2     10  Hq00103
55      Right  0.9854       \tFSE  10.02.2019   15:02:64    2     10  Hq00103
56      Right  0.9854       \tFSE  10.02.2019   15:02:65    2     10  Hq00103
..        ...     ...         ...         ...        ...  ...    ...      ...
156     Right  0.9854       \tFSE  10.01.2019   15:02:58    1     10  Hq00102
158     Right  0.9854       \tFSE  10.01.2019   15:02:60    1     10  Hq00102
160     Right  0.9854       \tFSE  10.01.2019   15:02:62    1     10  Hq00102
162     Right  0.9854       \tFSE  10.01.2019   15:02:64    1     10  Hq00102
163     Right  0.9854       \tFSE  10.01.2019   15:02:65    1     10  Hq00102
166     Right  0.9854       \tFSE  10.01.2019   15:02:68    1     10  Hq00102
167     Right  0.9854       \tFSE  10.01.2019   15:02:69    1     10  Hq00102
170     Right  0.9854       \tFSE  10.01.2019   15:02:72    1     10  Hq00102
172     Right  0.9854       \tFSE  10.01.2019   15:02:74    1     10  Hq00102
174     Right  0.9854       \tFSE  10.01.2019   15:02:76    1     10  Hq00102
176     Right  0.9854       \tFSE  10.01.2019   15:02:78    1     10  Hq00102
178     Right  0.9854       \tFSE  10.01.2019   15:02:80    1     10  Hq00102
180     Right  0.9854       \tFSE  10.01.2019   15:02:82    1     10  Hq00102
182     Right  0.9854       \tFSE  10.01.2019   15:02:84    1     10  Hq00102
184     Right  0.9854       \tFSE  10.01.2019   15:02:86    1     10  Hq00102
185     Right  0.9854       \tFSE  10.01.2019   15:02:87    1     10  Hq00102
187     Right  0.9854       \tFSE  10.01.2019   15:02:89    1     10  Hq00102
190     Right  0.9854       \tFSE  10.01.2019   15:02:92    1     10  Hq00102
192     Right  0.9854       \tFSE  10.01.2019   15:02:94    1     10  Hq00102
193     Right  0.9854       \tFSE  10.01.2019   15:02:95    1     10  Hq00102
195     Right  0.9854       \tFSE  10.01.2019   15:02:97    1     10  Hq00102
197     Right  0.9854       \tFSE  10.01.2019   15:02:99    1     10  Hq00102
199     Right  0.9854       \tFSE  10.01.2019  15:02:101    1     10  Hq00102
201     Right  0.9854       \tFSE  10.01.2019  15:02:103    1     10  Hq00102
203     Right  0.9854       \tFSE  10.01.2019  15:02:105    1     10  Hq00102
205     Right  0.9854       \tFSE  10.01.2019  15:02:107    1     10  Hq00102
207     Right  0.9854       \tFSE  10.01.2019  15:02:109    1     10  Hq00102
209     Right  0.9854       \tFSE  10.01.2019  15:02:111    1     10  Hq00102
211     Right  0.9854       \tFSE  10.01.2019  15:02:113    1     10  S123456
212     Right  0.9854       \tFSE  10.01.2019  15:02:114    1     10  Hq00102

[110 rows x 8 columns]

In [323]:
# Set date to correct format
right_cal_date_df = right_cal_df.Day.map(str) + "-" + right_cal_df['Month'].apply(lambda x: calendar.month_abbr[x])
right_cal_date_df

1      2-Oct
4      2-Oct
5      2-Oct
6      2-Oct
8      2-Oct
10     2-Oct
12     2-Oct
14     2-Oct
16     2-Oct
18     2-Oct
19     2-Oct
20     2-Oct
23     2-Oct
25     2-Oct
27     2-Oct
29     2-Oct
31     2-Oct
33     2-Oct
36     2-Oct
37     2-Oct
39     2-Oct
41     2-Oct
43     2-Oct
45     2-Oct
47     2-Oct
49     2-Oct
51     2-Oct
53     2-Oct
55     2-Oct
56     2-Oct
       ...
156    1-Oct
158    1-Oct
160    1-Oct
162    1-Oct
163    1-Oct
166    1-Oct
167    1-Oct
170    1-Oct
172    1-Oct
174    1-Oct
176    1-Oct
178    1-Oct
180    1-Oct
182    1-Oct
184    1-Oct
185    1-Oct
187    1-Oct
190    1-Oct
192    1-Oct
193    1-Oct
195    1-Oct
197    1-Oct
199    1-Oct
201    1-Oct
203    1-Oct
205    1-Oct
207    1-Oct
209    1-Oct
211    1-Oct
212    1-Oct
Length: 110, dtype: object

In [324]:
# Create a column with the updated date format
new_col = right_cal_date_df
idx = 0
right_cal_df.insert(loc=idx, column='Dates (R)', value=new_col)

In [325]:
# Rename columns to indicate the right block
right_cal_df.rename(columns={'OPERATOR ID': 'Operator ID (R)'}, inplace=True)
right_cal_df.rename(columns={'MCV': 'MCV_RC'}, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [326]:
# Change columns to indexes
right_values_cal_df = right_cal_df.pivot_table(index = ['Modules', "Dates (R)", "Time", "Date", "Operator ID (R)"], values='MCV_RC')
right_values_cal_df

                                                        MCV_RC
Modules Dates (R) Time      Date       Operator ID (R)
Hq00102 1-Oct     15:02:10  10.01.2019 \tFSE            0.9854
                  15:02:101 10.01.2019 \tFSE            0.9854
                  15:02:103 10.01.2019 \tFSE            0.9854
                  15:02:105 10.01.2019 \tFSE            0.9854
                  15:02:107 10.01.2019 \tFSE            0.9854
                  15:02:109 10.01.2019 \tFSE            0.9854
                  15:02:111 10.01.2019 \tFSE            0.9854
                  15:02:114 10.01.2019 \tFSE            0.9854
                  15:02:13  10.01.2019 \tFSE            0.9854
                  15:02:14  10.01.2019 \tFSE            0.9854
                  15:02:15  10.01.2019 \tFSE            0.9854
                  15:02:17  10.01.2019 \tFSE            0.9854
                  15:02:19  10.01.2019 \tFSE            0.9854
                  15:02:21  10.01.2019 \tFSE            0.9854
                  15:02:23  10.01.2019 \tFSE            0.9854
                  15:02:25  10.01.2019 \tFSE            0.9854
                  15:02:27  10.01.2019 \tFSE            0.9854
                  15:02:28  10.01.2019 \tFSE            0.9854
                  15:02:29  10.01.2019 \tFSE            0.9854
                  15:02:32  10.01.2019 \tFSE            0.9854
                  15:02:34  10.01.2019 \tFSE            0.9854
                  15:02:36  10.01.2019 \tFSE            0.9854
                  15:02:38  10.01.2019 \tFSE            0.9854
                  15:02:40  10.01.2019 \tFSE            0.9854
                  15:02:42  10.01.2019 \tFSE            0.9854
                  15:02:45  10.01.2019 \tFSE            0.9854
                  15:02:46  10.01.2019 \tFSE            0.9854
                  15:02:48  10.01.2019 \tFSE            0.9854
                  15:02:50  10.01.2019 \tFSE            0.9854
                  15:02:52  10.01.2019 \tFSE            0.9854
...                                                        ...
Hq00103 2-Oct     15:02:45  10.02.2019 \tFSE            0.9854
                  15:02:46  10.02.2019 \tFSE            0.9854
                  15:02:48  10.02.2019 \tFSE            0.9854
                  15:02:50  10.02.2019 \tFSE            0.9854
                  15:02:52  10.02.2019 \tFSE            0.9854
                  15:02:54  10.02.2019 \tFSE            0.9854
                  15:02:56  10.02.2019 \tFSE            0.9854
                  15:02:58  10.02.2019 \tFSE            0.9854
                  15:02:60  10.02.2019 \tFSE            0.9854
                  15:02:62  10.02.2019 \tFSE            0.9854
                  15:02:64  10.02.2019 \tFSE            0.9854
                  15:02:65  10.02.2019 \tFSE            0.9854
                  15:02:68  10.02.2019 \tFSE            0.9854
                  15:02:69  10.02.2019 \tFSE            0.9854
                  15:02:72  10.02.2019 \tFSE            0.9854
                  15:02:74  10.02.2019 \tFSE            0.9854
                  15:02:76  10.02.2019 \tFSE            0.9854
                  15:02:78  10.02.2019 \tFSE            0.9854
                  15:02:80  10.02.2019 \tFSE            0.9854
                  15:02:82  10.02.2019 \tFSE            0.9854
                  15:02:84  10.02.2019 \tFSE            0.9854
                  15:02:86  10.02.2019 \tFSE            0.9854
                  15:02:87  10.02.2019 \tFSE            0.9854
                  15:02:89  10.02.2019 \tFSE            0.9854
                  15:02:92  10.02.2019 \tFSE            0.9854
                  15:02:94  10.02.2019 \tFSE            0.9854
                  15:02:95  10.02.2019 \tFSE            0.9854
                  15:02:97  10.02.2019 \tFSE            0.9854
                  15:02:99  10.02.2019 \tFSE            0.9854
S123456 1-Oct     15:02:113 10.01.2019 \tFSE            0.9854

[110 rows x 1 columns]

In [327]:
# Reverse order of dataframe
reversed_right_cal_df = right_values_cal_df.iloc[::-1]

In [328]:
# Groupby the module column
right_modules_cal_df = reversed_right_cal_df.loc[reversed_right_cal_df.groupby('Modules').MCV_RC.idxmax()]

In [329]:
# Change indexes to columns
right_module_cal_df = right_modules_cal_df.reset_index(level=["Dates (R)", 'Time', 'Date', "Operator ID (R)"])

In [330]:
# delet unwanted columns
del right_module_cal_df["Time"]
right_module_cal_df

        Dates (R)        Date Operator ID (R)  MCV_RC
Modules
Hq00102     1-Oct  10.01.2019           \tFSE  0.9854
Hq00103     2-Oct  10.02.2019           \tFSE  0.9955
S123456     1-Oct  10.01.2019           \tFSE  0.9854

In [331]:
# Display data for dilution right block
right_dil_df = dilution_df[(dilution_df["L/R BLOCK"] == "Right")]
right_dil_df

   L/R BLOCK    MCV OPERATOR ID        Date         Time  Modules  Day  Month
0      Right  0.990       \tFSE  14.02.2019  01:16:52 PM  Hq00102   14      2
2      Right  0.990       \tFSE  14.02.2019  01:08:02 PM  Hq00102   14      2
4      Right  0.990       \tFSE  13.02.2019  03:57:43 PM  Hq00102   13      2
6      Right  1.000       \tFSE  13.02.2019  02:38:33 PM  Hq00102   13      2
8      Right  0.973       \tFSE  20.12.2018  12:02:18 PM  Hq00102   20     12
10     Right  0.998       \tFSE  20.12.2018  11:47:10 AM  Hq00103   20     12
13     Right  1.073       \tFSE  20.12.2018  11:39:34 AM  Hq00102   20     12
14     Right  1.090       \tFSE  20.12.2018  11:38:50 AM  Hq00103   20     12
16     Right  1.059       \tFSE  20.12.2018  11:36:42 AM  Hq00103   20     12
18     Right  1.000       \tFSE  20.12.2018  11:31:11 AM  Hq00103   20     12
20     Right  1.059       \tFSE  12.12.2018  04:29:20 PM  Hq00103   12     12
22     Right  1.032       \tFSE  11.12.2018  01:45:36 PM  Hq00102   12     11
24     Right  1.018       \tFSE  11.12.2018  01:29:28 PM  Hq00103   12     11
26     Right  1.025       \tFSE  11.12.2018  01:12:09 PM  Hq00103   12     11
28     Right  0.990       \tFSE  11.12.2018  12:55:23 PM  Hq00103   12     11
31     Right  1.018       \tFSE  11.12.2018  12:50:04 PM  Hq00103   12     11
32     Right  0.990       \tFSE  11.12.2018  12:44:50 PM  Hq00103   12     11
34     Right  1.058       \tFSE  11.12.2018  12:39:33 PM  Hq00103   12     11
36     Right  0.990       \tFSE  05.10.2018  03:20:01 PM  Hq00103   10      5
38     Right  1.000          \t  06.06.2018  01:48:53 PM  Hq00102    6      6
40     Right  0.960          \t  23.04.2018  11:00:42 AM  Hq00103   23      4

In [332]:
# Combine the day and month columns and add a slash
right_dil_date_df = right_dil_df.Day.map(str) + "-" + right_dil_df['Month'].apply(lambda x: calendar.month_abbr[x])
right_dil_date_df

0     14-Feb
2     14-Feb
4     13-Feb
6     13-Feb
8     20-Dec
10    20-Dec
13    20-Dec
14    20-Dec
16    20-Dec
18    20-Dec
20    12-Dec
22    12-Nov
24    12-Nov
26    12-Nov
28    12-Nov
31    12-Nov
32    12-Nov
34    12-Nov
36    10-May
38     6-Jun
40    23-Apr
dtype: object

In [333]:
# Define a new column with the correct date format
new_col = right_dil_date_df
idx = 0
right_dil_df.insert(loc=idx, column='Dates (R)', value=new_col)

In [334]:
# Rename columns to represent right block
right_dil_df.rename(columns={'OPERATOR ID': 'Operator ID (R)'}, inplace=True)
right_dil_df.rename(columns={'MCV': 'MCV_RD'}, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [335]:
# Change columns to indexes
right_values_dil_df = right_dil_df.pivot_table(index = ['Modules', "Dates (R)", "Time", "Date", "Operator ID (R)"], values='MCV_RD')
right_values_dil_df

                                                          MCV_RD
Modules Dates (R) Time        Date       Operator ID (R)
Hq00102 12-Nov    01:45:36 PM 11.12.2018 \tFSE             1.032
        13-Feb    02:38:33 PM 13.02.2019 \tFSE             1.000
                  03:57:43 PM 13.02.2019 \tFSE             0.990
        14-Feb    01:08:02 PM 14.02.2019 \tFSE             0.990
                  01:16:52 PM 14.02.2019 \tFSE             0.990
        20-Dec    11:39:34 AM 20.12.2018 \tFSE             1.073
                  12:02:18 PM 20.12.2018 \tFSE             0.973
        6-Jun     01:48:53 PM 06.06.2018 \t                1.000
Hq00103 10-May    03:20:01 PM 05.10.2018 \tFSE             0.990
        12-Dec    04:29:20 PM 12.12.2018 \tFSE             1.059
        12-Nov    01:12:09 PM 11.12.2018 \tFSE             1.025
                  01:29:28 PM 11.12.2018 \tFSE             1.018
                  12:39:33 PM 11.12.2018 \tFSE             1.058
                  12:44:50 PM 11.12.2018 \tFSE             0.990
                  12:50:04 PM 11.12.2018 \tFSE             1.018
                  12:55:23 PM 11.12.2018 \tFSE             0.990
        20-Dec    11:31:11 AM 20.12.2018 \tFSE             1.000
                  11:36:42 AM 20.12.2018 \tFSE             1.059
                  11:38:50 AM 20.12.2018 \tFSE             1.090
                  11:47:10 AM 20.12.2018 \tFSE             0.998
        23-Apr    11:00:42 AM 23.04.2018 \t                0.960

In [336]:
# Reverse order of table
reversed_right_dil_df = right_values_dil_df.iloc[::-1]

In [337]:
# Groupby modules column
right_modules_dil_df = reversed_right_dil_df.loc[reversed_right_dil_df.groupby('Modules').MCV_RD.idxmax()]

In [338]:
# Change indexes to columns
right_module_dil_df = right_modules_dil_df.reset_index(level=["Dates (R)", 'Time', 'Date', "Operator ID (R)"])

In [339]:
# Delete unneeded columns
del right_module_dil_df["Time"]
right_module_dil_df

        Dates (R)        Date Operator ID (R)  MCV_RD
Modules
Hq00102    20-Dec  20.12.2018           \tFSE   1.073
Hq00103    20-Dec  20.12.2018           \tFSE   1.090

In [340]:
right_module_date_dil_df = right_module_dil_df["Dates (R)"]

In [341]:
left_module_date_dil_df = left_module_dil_df["Dates (L)"]

In [342]:
# Create a dataframe with dates columns from left and right dilution
calibration_date_dil_df = pd.concat([left_module_date_dil_df, right_module_date_dil_df], axis=1)

In [343]:
# Create a column that takes the most recent date between left and right for each module
calibration_date_dil_df['Date (D)'] = np.where((calibration_date_dil_df["Dates (L)"] >= calibration_date_dil_df['Dates (R)']), calibration_date_dil_df['Dates (L)'], calibration_date_dil_df['Dates (R)'])
calibration_date_dil_df

        Dates (L) Dates (R) Date (D)
Modules
Hq00102    20-Dec    20-Dec   20-Dec
Hq00103    20-Dec    20-Dec   20-Dec

In [344]:
left_operator_id_dil_df = left_module_dil_df["Operator ID (L)"]

In [345]:
right_operator_id_dil_df = right_module_dil_df["Operator ID (R)"]

In [346]:
# Create a table with operator id columns from left and right dilution
calibration_id_dil_df = pd.concat([left_operator_id_dil_df, right_operator_id_dil_df], axis=1)

In [347]:
# Create a third column that compares left and right blocks for dilution (D) which automatically will choose an operator ID if it is not FSE
calibration_id_dil_df.loc[(calibration_id_dil_df["Operator ID (L)"]== '\tFSE') | (calibration_id_dil_df["Operator ID (R)"] == '\tFSE'), 'Operator ID (D)'] = 'FSE'  
calibration_id_dil_df.loc[(calibration_id_dil_df["Operator ID (L)"]!= '\tFSE') & (calibration_id_dil_df["Operator ID (R)"] == '\tFSE'), 'Operator ID (D)'] = calibration_id_dil_df["Operator ID (L)"]   
calibration_id_dil_df.loc[(calibration_id_dil_df["Operator ID (L)"]== '\tFSE') & (calibration_id_dil_df["Operator ID (R)"] != '\tFSE'), 'Operator ID (D)'] = calibration_id_dil_df["Operator ID (R)"] 
calibration_id_dil_df

        Operator ID (L) Operator ID (R) Operator ID (D)
Modules
Hq00102           \tFSE           \tFSE             FSE
Hq00103           \tFSE           \tFSE             FSE

In [348]:
# Take the 
calibration_final_dil_df = pd.concat([calibration_date_dil_df['Date (D)'],  calibration_id_dil_df["Operator ID (D)"], right_module_dil_df["MCV_RD"], left_module_dil_df["MCV_LD"]], axis=1)
calibration_final_dil_df

        Date (D) Operator ID (D)  MCV_RD  MCV_LD
Modules
Hq00102   20-Dec             FSE   1.073   1.073
Hq00103   20-Dec             FSE   1.090   1.090

In [349]:
right_module_date_cal_df = right_module_cal_df["Dates (R)"]

In [350]:
left_module_date_cal_df = left_module_cal_df["Dates (L)"]

In [351]:
calibration_date_cal_df = pd.concat([left_module_date_cal_df, right_module_date_cal_df], axis=1)

In [352]:
calibration_date_cal_df['Date (C)'] = np.where((calibration_date_cal_df["Dates (L)"] >= calibration_date_cal_df['Dates (R)']), calibration_date_cal_df['Dates (L)'], calibration_date_cal_df['Dates (R)'])
calibration_date_cal_df

        Dates (L) Dates (R) Date (C)
Modules
Hq00102     1-Oct     1-Oct    1-Oct
Hq00103     2-Oct     2-Oct    2-Oct
S123456     1-Oct     1-Oct    1-Oct

In [353]:
left_operator_id_cal_df = left_module_cal_df["Operator ID (L)"]

In [354]:
right_operator_id_cal_df = right_module_cal_df["Operator ID (R)"]

In [355]:
calibration_id_cal_df = pd.concat([left_operator_id_cal_df, right_operator_id_cal_df], axis=1)

In [356]:
calibration_id_cal_df.loc[(calibration_id_cal_df["Operator ID (L)"]== '\tFSE') | (calibration_id_cal_df["Operator ID (R)"] == '\tFSE'), 'Operator ID (C)'] = 'FSE'  
calibration_id_cal_df.loc[(calibration_id_cal_df["Operator ID (L)"]!= '\tFSE') & (calibration_id_cal_df["Operator ID (R)"] == '\tFSE'), 'Operator ID (C)'] = calibration_id_cal_df["Operator ID (L)"]   
calibration_id_cal_df.loc[(calibration_id_cal_df["Operator ID (L)"]== '\tFSE') & (calibration_id_cal_df["Operator ID (R)"] != '\tFSE'), 'Operator ID (C)'] = calibration_id_cal_df["Operator ID (R)"] 
calibration_id_cal_df

        Operator ID (L) Operator ID (R) Operator ID (C)
Modules
Hq00102           \tFSE           \tFSE             FSE
Hq00103         \tAdmin           \tFSE         \tAdmin
S123456           \tFSE           \tFSE             FSE

In [357]:
calibration_final_cal_df = pd.concat([calibration_date_cal_df['Date (C)'],  calibration_id_cal_df["Operator ID (C)"], right_module_cal_df["MCV_RC"], left_module_cal_df["MCV_LC"]], axis=1)
calibration_final_cal_df

        Date (C) Operator ID (C)  MCV_RC  MCV_LC
Modules
Hq00102    1-Oct             FSE  0.9854  0.9854
Hq00103    2-Oct         \tAdmin  0.9955  0.9955
S123456    1-Oct             FSE  0.9854  0.9854

In [364]:
final_df = pd.concat([calibration_final_dil_df['Date (D)'], calibration_final_dil_df["Operator ID (D)"], calibration_final_dil_df["MCV_"], calibration_final_dil_df["MCV_LD"], calibration_final_cal_df['Date (C)'],  calibration_final_cal_df["Operator ID (C)"], calibration_final_cal_df["MCV_RC"], calibration_final_cal_df["MCV_LC"]], axis=1)
final_df

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Date (D),Operator ID (D),MCV_RD,MCV_LD,Date (C),Operator ID (C),MCV_RC,MCV_LC
Hq00102,20-Dec,FSE,1.073,1.073,1-Oct,FSE,0.9854,0.9854
Hq00103,20-Dec,FSE,1.090,1.090,2-Oct,\tAdmin,0.9955,0.9955
S123456,NaN,NaN,NaN,NaN,1-Oct,FSE,0.9854,0.9854

In [365]:
final_df['Date'] = np.where((final_df["Date (C)"] >= final_df['Date (D)']), calibration_date_cal_df['Date (C)'], final_df['Date (D)'])

In [366]:
final_df.loc[(final_df["Operator ID (D)"]== 'FSE') | (final_df["Operator ID (C)"] == 'FSE'), 'Operator ID'] = 'FSE'  
final_df.loc[(final_df["Operator ID (D)"]!= 'FSE') & (final_df["Operator ID (C)"] == 'FSE'), 'Operator ID'] = final_df["Operator ID (D)"]   
final_df.loc[(final_df["Operator ID (D)"]== 'FSE') & (final_df["Operator ID (C)"] != 'FSE'), 'Operator ID'] = final_df["Operator ID (C)"]

In [367]:
del final_df["Date (D)"]
del final_df["Date (C)"]
del final_df["Operator ID (D)"]
del final_df["Operator ID (C)"]
final_df

         MCV_RD  MCV_LD  MCV_RC  MCV_LC    Date Operator ID
Hq00102   1.073   1.073  0.9854  0.9854  20-Dec         FSE
Hq00103   1.090   1.090  0.9955  0.9955  20-Dec     \tAdmin
S123456     NaN     NaN  0.9854  0.9854     NaN         NaN